spring:
  config:
    import: optional:configserver:http://localhost:8888
  application:
    name: order-service
  datasource:
    url: jdbc:h2:mem:order_db;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate.format_sql: true

server:
  port: 8082

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

spring:
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP:localhost:9092}
feign:
  client:
    config:
      default:
        connectTimeout: 5000
        readTimeout: 5000

product-service:
  url: ${product.service.url:http://localhost:8081}

management:
  endpoints:
    web:
      exposure:
        include: health,info

spring.kafka.consumer.group-id: order-service
